*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #687980;
}
.outer-box{
    width: 380px;
    padding: 20px;
    background-color:#a6d6d6;
    margin: 50px auto;
    border: 3px solid #000;
    border-radius: 8px;
}
.outer-box h5{
    font-size: 16px;
    text-align: left;
}
.outer-box h5 span{
    font-size: 16px;
    margin-left: 220px;
}
.outer-box h6{
    font-size: 12px;
    text-align: left;
}
.outer-box h6 span{
    font-size: 12px;
    margin-left: 197px;
    font-weight: bold;
}
.output{
    width: 100%;
    padding: 10px;
    font-size: 30px;
    color:black;
    font-weight: 600;
    border: none;
    outline: none;
    margin-bottom: 20px;
    text-align: right;
    border: 1px solid #000;
    latter-spacing :3px;
}
.button-gallery .btn{
    width: 60px;
    height: 60px;
    line-height: 45px;
    text-align: center;
    margin: 7px 10px;
    background-color: #c9acc6;
    font-size: 30px;
    color: mediumblue;
    font-weight: 600;
    border-radius: 50%;
}
.button-gallery .btn-one{
    font-size: 20px;
}
.button-gallery .btn-two{
    font-size: 30px; 
}
.button-gallery .btn-three{
    font-size: 20px;
    line-height: 30px;
}
.button-gallery{
    text-align: center;
}